.navbar{
    width: 280px;
    height: 100%;
    background-color: var(--background-color);
}

.navbar__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
    margin-bottom: 2rem;
}

.navbar__contact{
    padding: 0.25rem;
}

.contact{
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}