.chat{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat__header{
    height: fit-content;
    display: flex;
    align-items: center;
    background-color: var(--secondary-white);
    padding: 0.75%;
}

.chat__header-photo{
    aspect-ratio: 1 / 1;
    width: 48px;
    border-radius: 100%;
}

.chat__header-name{
    margin-inline: 2%;
    font-size: 1.5rem;
    font-weight: 300;
}

.chat__log{
    width: 100%;
    height: 100%;
    padding-inline: 0.75%;
}

.chat__footer{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat__footer-input{
    font-size: 1.25rem;
    width: 95%;
    height: 1.80em;
    padding-inline: 1%;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    margin-bottom: 1%;
}