.message{
    width: fit-content;
    max-width: 280px;
    padding: 0.25rem;
    margin-block: 0.25em;
    border-radius: 5px;
}

.message p {
    display: flex;
    flex-direction: column;
    padding-inline: 0.50rem;
}

.message__text{
    font-weight: 400;
    font-size: 1.25rem;
}

.message__title{
    font-size: 1rem;
    font-weight: 300;
}

.sent{
    background-color: var(--main-color);
    color: white;
    display: flex;
    align-self: flex-end;
}

.received{
    background-color: rgb(223, 223, 223);
    color: black;
}

.received .message__title{
    color: var(--main-color);
}