.chat{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 2rem;
}

.chat__log{
    height: 100%;
}

.chat__input{
    font-size: 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.33);
    border-radius: 5px;
    outline: none;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
}